@ak-color-B50: #BFEBFF;
@ak-color-N700: #253858;
@ak-color-N20: #ECEEF1;

.checkbox-container {
  .checkbox-container-icon {
    color: rgba(137, 147, 164, 0.48); //n90, 48% opacity, TODO AK-397
    fill: transparent;
  }

  &.checked {
    .checkbox-container-icon {
      color: @ak-color-N700;
      fill: @ak-color-N20;
    }
  }
}

textarea {
  background-color: #fff;
  border: none;
  box-sizing: border-box;
  min-height: 60px;
  padding: 12px;
  width: 100%;
}

.selected-components {
  display: flex;

  > *:first-child {
    flex: 1 1 auto;
  }

  > *:last-child {
    flex: 0 1 auto;
  }
}

// Taken from ak-input-field shadow.less
// This can be removed when ak-field-text
// is fixed and is being used again in
// morty.js
textarea {
  background: @ak-color-N20;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  cursor: inherit;
  font-size: 14px;
  outline: none;
  width: 100%;
  padding: 8px 8px;
}
